@font-face {
    font-family: 'TipografiaEasyOrders';
    src: url('../fonts/OpenDyslexicMono-Regular.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.easyOrders {
    font-family: 'TipografiaEasyOrders' !important;
}